<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/tarefas"><i class="glyphicon glyphicon-th-large"></i>Lista das tarefas</a>
        <a ng-show="tarefa._id" class= "navbar-brand" href= "#/edita-tarefa/0"><i class="glyphicon glyphicon-plus"></i> Criar tarefa</a>
        </div>
        </nav>
        <header>
            <h3>Tarefa </h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
    
<div class= "form-group" ng-class="{error: myForm.titulo.$invalid}">
    <label class= "col-md-2"> Nome  </label>
    <div class="col-md-4">
    <input name="titulo" ng-model="tarefa.titulo" type= "text" class= "form-control" placeholder="Digitar o titulo da tarefa." required/>
    <span ng-show="myForm.titulo.$dirty && myForm.titulo.$invalid" class="help-inline">Titulo obrigatório</span>
    </div>
</div>

<div class= "form-group">
    <label class= "col-md-2">Descrição  </label>
    <div class="col-md-4">
    <input ng-model="tarefa.descricao" type= "text" class= "form-control" placeholder= "Digitar a descrição da tarefa. "/>
    </div>
</div>

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancelar</a>
        <button ng-click="saveTarefa(tarefa);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteTarefa(tarefa)"
                ng-show="tarefa._id" class="btn btn-warning">Excluir</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
