 <div class="row">
    <div class="col-md-12" ng-show="tarefas.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edita-tarefa/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Criar tarefa</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Titulo da tarefa</th>
        <th>Descrição da tarefa</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in tarefas">
                <td>{{data.titulo}}</td>
                <td>{{data.descricao}}</td>
                <td><a href="#/edita-tarefa/{{data.tarefaNumero}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Editar </a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="tarefas.length == 0">
        <div class="col-md-12">
            <h4>Não existem tarefas</h4>
        </div>
    </div>
</div>